@import '../../../theme/variables';
header.header-background{
  width: 100%; float: left;
  margin-bottom: 0px;
  background: url('../../../assets/images/header-bg.svg') 50% repeat-x, #00bcd4;
  padding: 40px 0;
  .header-section{
    text-align: center; font-family: $font-stack;
    .header-headline{
      color: $color-fff;
      h1{
        font-weight: 500; font-size: 32px;
      }
      h2{
        font-weight: 300; font-size: 18px;
      }
    }
    .header-start{
      margin-top: 50px;
      a.header-button{
        color: $color-00b; padding: 5px 35px; font-size: 16px; text-transform: uppercase;
      }
    }
  }
}
